<script lang="ts">
import Vue from 'vue';
import { init, refresh } from 'aos';
import { getPageMetadata } from '~/common/meta';

import { NextStep } from '~/components/common/index.vue';
import { Header, TabTable, Legend } from '~/components/competition/index.vue';

export default Vue.extend({
  components: {
    NextStep,
    Header,
    TabTable,
    Legend,
  },
  async asyncData({ $content, error }: any) {
    try {
      const competition = await $content('/competition/index').fetch();
      return { competition };
    } catch (e) {
      error({ statusCode: 404 });
      return {};
    }
  },
  head() {
    return getPageMetadata((this as any).competition, this.$route.path);
  },
  beforeMount() {
    init({
      once: true,
    });
  },
  mounted() {
    refresh();
  },
});
</script>

<template>
  <div>
    <SlpContainer>
      <Header :data="competition.hero" />
    </SlpContainer>
    <SlpContainer>
      <TabTable :data="competition.tab_table" />
      <Legend :data="competition.legend" />
    </SlpContainer>
    <NextStep disable-animations />
  </div>
</template>
