<script>
import Vue from 'vue';

export default Vue.extend({
  name: 'CodeOfConduct',
  props: {
    eventName: {
      type: String,
      required: false,
      default: 'this event',
    },
  },
});
</script>

<template>
  <div class="conduct">
    <SlpContainer style="color: #f6f3fe">
      <SlpRow>
        <SlpColumn :cols="11">
          <SlpTypography variant="heading2-bold" tag="h3" class="slp-mb-32">
            Code of conduct
          </SlpTypography>
          <SlpTypography variant="body1" tag="p">
            GitLab is committed to providing a safe and welcoming experience for
            every attendee at all of our events whether they are virtual or
            onsite. Please review our
            <a href="https://about.gitlab.com/company/culture/ecoc/">
              code of conduct
            </a>
            to ensure {{ eventName }} is a friendly, inclusive, and comfortable
            environment for all participants.
          </SlpTypography>
        </SlpColumn>
      </SlpRow>
    </SlpContainer>
  </div>
</template>

<style lang="scss" scoped>
.conduct {
  background: #171321;
  padding: $spacing-96 0;
}
</style>
