<script>
import Vue from 'vue';

export default Vue.extend({
  name: 'LightningHero',
  props: {
    data: {
      type: Object,
      required: true,
      default: null,
    },
    darkMode: {
      type: Boolean,
      required: false,
      default: true,
    },
  },
});
</script>

<template>
  <div :class="darkMode ? 'kc-hero' : 'kc-hero--light'">
    <SlpContainer>
      <SlpRow class="slp-mt-96">
        <SlpColumn :cols="7">
          <SlpTypography
            variant="body2-bold"
            tag="p"
            class="slp-pb-24"
            :class="darkMode ? 'kc-hero__accent' : ''"
          >
            {{ data.accent }}
          </SlpTypography>
          <SlpTypography
            variant="heading1-bold"
            tag="h1"
            class="slp-pb-32 slp-pr-32"
            :class="darkMode ? 'kc-hero__headline' : ''"
          >
            {{ data.headline }}
          </SlpTypography>
          <SlpButton
            v-if="data.call_to_action"
            :variant="darkMode ? 'secondary' : 'primary'"
            :href="data.call_to_action.button_link"
            class="slp-mb-32"
            >{{ data.call_to_action.button_text }}</SlpButton
          >
        </SlpColumn>
        <SlpColumn :cols="5" class="slp-mb-96">
          <div
            :class="
              darkMode
                ? 'kc-hero-list kc-hero-list--dark'
                : 'kc-hero-list kc-hero-list--light'
            "
          >
            <SlpTypography
              variant="body1-bold"
              tag="p"
              :class="
                darkMode
                  ? 'kc-hero-list__heading'
                  : 'kc-hero-list__heading kc-hero-list__heading--light'
              "
            >
              {{ data.sub_heading }}
            </SlpTypography>
            <ul>
              <li
                v-for="(item, index) in data.list"
                :key="index"
                :class="
                  darkMode
                    ? 'kc-hero-list__item'
                    : 'kc-hero-list__item kc-hero-list__item--light'
                "
              >
                <img
                  :src="`/nuxt-images/icons/events/${item.icon}`"
                  alt=""
                  class="kc-hero-list__icon"
                />
                {{ item.description }}
              </li>
            </ul>
          </div>
        </SlpColumn>
      </SlpRow>
    </SlpContainer>
  </div>
</template>

<style lang="scss" scoped>
.kc-hero {
  background: linear-gradient(105.1deg, #000001 0%, #140123 86.48%);

  &--light {
    background: linear-gradient(
      165.41deg,
      #fadcd7 0%,
      #f8f5ff 23.65%,
      #ffffff 54.66%,
      #f6f3fe 80.95%,
      #ffd4d8 100.92%
    );
  }

  &__accent {
    color: $color-surface-950;
  }

  &__headline {
    color: $color-text-50;

    &--light {
      color: #171321;
    }
  }
}

.kc-hero-list {
  padding: $spacing-48 $spacing-32;
  border: 2.25px solid transparent;
  border-radius: 8px 8px 90px 8px;

  position: relative;
  z-index: 2;
  transform-style: preserve-3d;

  &--light {
    background: linear-gradient(#ffffff, #ffffff) padding-box,
      linear-gradient(90deg, #e2b6f1 0%, #7759c2 100%) border-box;

    &::before {
      background: linear-gradient(#f6f3fe, #f6f3fe) padding-box,
        linear-gradient(90deg, #e2b6f1 0%, #7759c2 100%) border-box;
    }
  }

  &--dark {
    background: linear-gradient(105.1deg, #000001 0%, #140123 86.48%)
        padding-box,
      linear-gradient(90deg, #e2b6f1, #7759c2) border-box;

    &::before {
      background: linear-gradient(105.1deg, #000001 0%, #140123 86.48%)
          padding-box,
        linear-gradient(90deg, #e2b6f1, #7759c2) border-box;
    }
  }

  @media screen and (max-width: $breakpoint-sm) {
    margin-right: $spacing-16;
  }

  &::before {
    transform: translateZ(-1px);
    content: '';
    position: absolute;
    z-index: -1;
    top: 28px;
    right: -24px;
    width: 100%;
    height: 100%;
    border: 2.25px solid transparent;
    border-radius: 8px 8px 90px 8px;
  }

  @media screen and (max-width: $breakpoint-sm) {
    margin-top: $spacing-48;
  }

  &__heading {
    color: $color-text-50;
    padding-bottom: $spacing-24;

    &--light {
      color: #171321;
    }
  }

  &__item {
    display: flex;
    line-height: 1.25;
    color: $color-text-50;
    padding-bottom: $spacing-24;

    &--light {
      color: #171321;
    }
  }

  &__icon {
    stroke: #a989f5;
    width: 24px;
    fill: none;
    stroke-miterlimit: 10;
    stroke-width: 2;
    margin-right: 12px;
  }
}
</style>
