<script lang="ts">
import Vue from 'vue';

import { RESOURCE_ICON_PATH } from '../../common/constants';

export default Vue.extend({
  name: 'FeaturedReports',
  props: {
    data: {
      type: Object,
      required: true,
      default: null,
    },
  },
  computed: {
    resourceIcon() {
      return RESOURCE_ICON_PATH;
    },
  },
});
</script>
<template>
  <SlpContainer>
    <div class="container">
      <SlpTypography
        class="container__title"
        variant="heading2-bold"
        tag="h2"
        >{{ data.title }}</SlpTypography
      >
      <div class="horizontal-rule"></div>
      <div class="grid">
        <div
          v-for="(report, index) in data.reports"
          :key="report.description + `-${index}`"
          class="grid__card"
        >
          <div class="grid__card-image-container">
            <nuxt-img
              class="grid__card-image"
              :src="report.img_url"
              :alt="report.img_alt"
              loading="lazy"
            />
          </div>
          <div class="grid__card-content-container">
            <div class="grid__card-content-container-logo slp-mb-16">
              <img :src="report.logo" />
            </div>
            <SlpTypography
              variant="heading5-bold"
              tag="h4"
              class="grid__card-content-container-name slp-mb-16"
            >
              {{ report.name }}
            </SlpTypography>
            <div class="grid__card-content-container-description">
              {{ report.description }}
            </div>
            <a
              class="grid__card-content-container-link desktop-only"
              :href="report.cta_url"
              :data-ga-name="report.cta_data_ga_name"
              :data-ga-location="report.cta_data_ga_location"
              :aria-label="report.cta_data_ga_name"
              ><SlpTypography class="learn-more"
                >Learn more
                <SlpIcon
                  class="learn-more-icon"
                  name="chevron-lg-right"
                  variant="product"
                />
              </SlpTypography>
            </a>
            <a
              class="grid__card-content-container-link mobile-only"
              :href="report.cta_url"
              :data-ga-name="report.cta_data_ga_name"
              :data-ga-location="report.cta_data_ga_location"
              :aria-label="report.cta_data_ga_name"
              ><SlpTypography class="learn-more"
                >Learn more
                <SlpIcon
                  class="learn-more-icon"
                  name="chevron-lg-right"
                  variant="product"
                />
              </SlpTypography>
            </a>
          </div>
        </div>
      </div>
    </div>
  </SlpContainer>
</template>
<style lang="scss" scoped>
.container {
  display: flex;
  flex-direction: column;
  margin: 120px 0 120px 0;
  max-width: 1110px;
  &__title {
    margin-bottom: 40px;
    @media screen and (max-width: $breakpoint-sm) {
      font-size: 40px !important;
    }
  }
}
.horizontal-rule {
  border-top: 1px solid $color-surface-300;
  width: 100%;
}
.grid {
  display: flex;
  flex-direction: column;
  grid-template-columns: 1fr 350px;
  padding: 40px 0px 24px;
  width: 100%;
  grid-gap: 30px;
  &__card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border: 1px solid #d1d0d3;
    &-image {
      max-width: 160px;
      max-height: 177px;
      position: relative;
      z-index: 1;
      bottom: -20px;
      left: 16px;
      background: white;
      border: 1px solid #d1d0d3;
      @media (max-width: $breakpoint-md) {
        display: none;
      }
      &-container {
        height: 157px;
        width: 100%;
        @media (max-width: $breakpoint-md) {
          display: none;
        }
      }
    }

    &-content-container {
      height: 435px;
      padding: 60px 23px 0px 23px;
      background: #f6f3fe;
      position: relative;
      z-index: 0;
      &-description {
        font-size: 24px;
        line-height: 32px;
        letter-spacing: -0.03em;
      }
      &-link {
        line-height: 24px;
        font-size: 20px;
        position: absolute;
        bottom: 39px;
      }
    }
    &:hover {
      box-shadow: 0px 8px 50px -16px #d1d0d3;
      align-self: stretch;
      flex-grow: 0;
      .learn-more {
        text-decoration: underline;
        &-icon {
          transform: translate(7px, 2px);
        }
      }
    }

    a {
      color: #171321;
    }
    .learn-more {
      transition: all 0.2s ease-in-out;
      display: flex;
      font-weight: 600;
      &-icon {
        transition: all 0.2s ease-in-out;
        transform: translate(4px, 2px);
      }
    }
    @media screen and (max-width: $breakpoint-md) {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      background: #f6f3fe;
      height: fit-content;
      max-width: 100%;
      &-content {
        position: static;
        &-container {
          padding: 32px 16px 0px;
          height: fit-content;
          &:hover {
            border-radius: 0px 0px 100px 0px;
          }
          &-name {
            font-size: $text-heading-4-mobile;
            line-height: 36px;
          }
          &-description {
            font-size: 22px;
            line-height: 28px;
            margin-bottom: 56px;
          }
          &-link {
            position: static;
            bottom: 0;
            margin-bottom: 40px;
          }
        }
      }
      &:hover {
        border-radius: 0px 0px 100px 0px;
        box-shadow: none;
      }
    }
    @media (min-width: $breakpoint-sm) {
      width: 350px;
      flex-direction: column;
    }
  }

  @media (min-width: $breakpoint-md) {
    flex-direction: row;
    flex-wrap: wrap;
  }
}
.desktop-only {
  display: none;
  @media (min-width: $breakpoint-md) {
    display: block;
  }
}
.mobile-only {
  display: none;
  @media (max-width: $breakpoint-md) {
    display: block;
  }
}
</style>
