<script lang="ts">
import Vue from 'vue';

export default Vue.extend({
  props: {
    data: {
      type: Object,
      required: true,
      default() {
        return {};
      },
    },
  },
  data() {
    return {
      baseHarveyUrl: '/nuxt-images/competition/progress-bars/',
    };
  },
});
</script>

<template>
  <div>
    <SlpTypography variant="heading5-bold">Legend</SlpTypography>
    <div class="legend">
      <div
        v-for="block in data.blocks"
        :key="block.header"
        class="legend__block"
      >
        <SlpTypography variant="body3-bold">{{ block.header }}</SlpTypography>
        <div
          v-for="item in block.items"
          :key="item.label"
          class="legend__item"
          :class="{ placeholder: !item.label }"
        >
          <img
            v-if="item.harvey !== undefined"
            class="harvey"
            :src="`${baseHarveyUrl}${item.harvey}.svg`"
            alt=""
          />
          <SlpTypography variant="body3">{{ item.label }}</SlpTypography>
        </div>
      </div>
    </div>
  </div>
</template>

<style lang="scss" scoped>
.legend {
  display: flex;
  flex-direction: column;
  margin-top: 24px;
  @media (min-width: $breakpoint-md) {
    flex-direction: row;
  }
  &__block {
    display: flex;
    flex-direction: column;
    margin-right: 32px;
  }
  &__item {
    margin: 16px 0;
    display: flex;
    align-items: center;
    min-height: 30px;
    .harvey {
      margin-right: 8px;
    }
    &.placeholder {
      @media (max-width: $breakpoint-md) {
        min-height: 0;
        margin: 0;
      }
    }
  }
}
</style>
