<script lang="ts">
import { MetaInfo } from 'vue-meta/types/vue-meta';
import Vue from 'vue';
import { init } from 'aos';
import { CTA as CallToAction, Faq } from '../components/common/index';
import { FreeTrialPlans } from '~/components/free-trial/index';
import { getPageMetadata } from '~/common/meta';

export default Vue.extend({
  name: 'FreeTrial',
  components: {
    FreeTrialPlans,
    Faq,
    CallToAction,
  },
  async asyncData({ $content }) {
    const doc = await $content('free-trial').fetch();
    return { doc };
  },
  head(): MetaInfo {
    return getPageMetadata((this as any).doc, this.$route.path);
  },
  beforeMount() {
    init({
      once: true,
    });
  },
});
</script>

<template>
  <SlpContainer>
    <component
      :is="component.name"
      v-for="component in doc.components"
      :key="component.name"
      :data="component.data"
    >
    </component>
  </SlpContainer>
</template>
