<script lang="ts">
import Vue from 'vue';

export default Vue.extend({
  props: {
    data: {
      type: Object,
      required: true,
    },
  },
});
</script>

<template>
  <div class="cta-divider">
    <SlpButton :href="data.href">
      {{ data.text }}
      <SlpIcon
        class="icon"
        name="chevron-lg-right"
        variant="product"
        hex-color="#FFFFFF"
      />
    </SlpButton>
  </div>
</template>

<style lang="scss" scoped>
.cta-divider {
  display: flex;
  justify-content: center;
  padding-bottom: $spacing-64;
  margin-bottom: $spacing-64;
  border-bottom: 1px solid $color-surface-900;
  @media (min-width: $breakpoint-lg) {
    padding-bottom: 120px;
    margin-bottom: $spacing-96;
  }
  .icon {
    margin-left: $spacing-8;
  }
}
</style>
